@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// @import './fonts/roy-icons/css/roy-icons.css';
html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
  height: 100%;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}



.section-content {
  max-width: 100vw;
  width: 100%;
  padding-left: 7.5%;
  padding-right: 7.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  background-image: url("/images/header-illsutration-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  min-height: 648px;
  padding: 64px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.welcome p {
  font-size: 20px;
  line-height: 28px;
  margin: 20px 0;
}

#contact,
#welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.greetings,
.section-heading {
  font-size: 40px;
  line-height: 52px;
  font-weight: bold;
  margin: 5px !important;
}

.separator {
  width: 48px;
  height: 4px;
  background-color: #36b37f;
  margin-bottom: 58px;
}

.separator-64 {
  margin-bottom: 64px;
}

.separator-blank {
  margin-bottom: 58px;
}

.social-links {
  list-style-type: none !important;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social-links li a {
  font-size: 20px;
  text-decoration: none;
  padding: 8px;
  color: #505f79;
  transition: 500ms ease;
}

.social-links li a:hover {
  color: #36b37f;
}

/* for changing icon color */
.m-logo:hover {
  filter: invert(88%) sepia(7%) saturate(4102%) hue-rotate(125deg) brightness(71%) contrast(89%);
}
.wellfoundIcon{
  &:hover {
    filter: invert(88%) sepia(7%) saturate(4102%) hue-rotate(125deg) brightness(71%) contrast(89%);
  }
}
.footer-mobile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 44px 0 256px;
}

.footer-end {
  display: flex;
  flex-direction: column;
  padding-top: 21px;
  align-items: center;
  height: 34px;
}

.footer-end-line {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: #0d151e;
}

.down-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  border: 1px solid #dfe1e6;
  top: 90%;
  text-decoration: none !important;
  color: #172b4d;
  transition: 500ms ease;
  height: 40px;
  width: 40px;
  z-index: 99;
}

.down-arrow:hover {
  color: white;
  background-color: #36b37f;
}
.projectLinks{
  gap: 8px;
}

.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-16 {
  gap: 16px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.gap-40 {
  gap: 40px;
}
.gap-48 {
  gap: 48px;
}
.gap-56 {
  gap: 56px;
}

@media screen and (min-width: 768px){
  .welcome {
    background-image: url("/images/header-llustration-desktop.svg");
    justify-content: center;
    padding: 20%;
    height: 100vh;
    background-position: top center;
  }
}